<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <nav>
    <div class="centered">
    <ul>
      <li><a href= "/pizza-orders">Pizza Orders</a></li>
    </ul>
  </div>
  </nav>
  <%= yield %>
</body>
</html>
